@model AS.ToolKit.Web.ViewModels.SelectableItemViewModel

<a href="@((string.IsNullOrEmpty(Model.DataVal)) ? Model.Hyperlink : "#")" class="list-group-item" @((!string.IsNullOrEmpty(Model.DataVal)) ? "data-val=\"" + Model.DataVal + "\"" : "")>
    <i class="@Model.IconClass pull-left icon-3x"></i>
    <h4 class="list-group-item-heading">@Model.Heading</h4>
    <p class="list-group-item-text">@Model.Text &nbsp;</p>
</a>

