@{
    ViewBag.Title = "Shopping Calculator";
    ViewBag.Section = "Applications";
}

@using AS.ToolKit.Web.ViewModels
@model AS.ToolKit.Web.ViewModels.GroupViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>@ViewBag.Title</h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Shopping Calculator", "Index", "Shopping")</li>
                <li>@Html.ActionLink(Model.IntervalName, "Interval", "Shopping", new {intervalId = Model.IntervalId}, null)</li>
                <li class="active">@Model.Name</li>
            </ol>
        </div>
    </div>
    @Html.DisplayFor(m => m.Message)
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default" style="max-height: 400px; overflow: auto">
                <div class="panel-heading">Available People</div>
                <div class="list-group">
                    @Html.DisplayFor(m => m.Available)
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default" style="max-height: 400px; overflow: auto">
                <div class="panel-heading">Group Contributors</div>
                <div class="list-group">
                    @Html.DisplayFor(m => m.Contributions)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Group Details</div>
                <div class="panel-body">
                    @using (Html.BeginForm("Group", "Shopping", FormMethod.Post, new {@class = "form-horizontal"}))
                    {
                        @Html.HiddenFor(m => m.GroupId)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new {@class = "control-label col-md-3"})
                            <div class="col-md-9">
                                @Html.EditorFor(m => m.Name, new {@class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Contributors</label>
                            <div class="col-md-9">
                                <label class="control-label control-label-detail">@string.Join(", ", Model.Contributors)</label>   
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Total</label>
                            <div class="col-md-9">
                                <label class="control-label control-label-detail">@Model.Total</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">
                                    <i class="icon-ok"></i>
                                    Save Changes
                                </button>
                                <button id="btnReset" type="button" class="btn btn-default" data-target="@Html.Raw(Url.Action("Group", "Shopping", new {groupId = Model.GroupId}))">
                                    Reset
                                </button>
                                <button id="btnDeleteGroup" type="button" class="btn btn-danger pull-right">
                                    <i class="icon-remove"></i>
                                    Delete Group
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divAddEditContribution" class="modal fade">
    <div class="modal-dialog">
        
    </div>
</div>

<div id="divDeleteGroup" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Group</h4>
            </div>
            <div class="modal-body">
                Are you sure you would like to delete this Shopping Group "@Model.Name"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button id="btnDeleteGroupConfirmed" type="submit" class="btn btn-danger" data-target="@Html.Raw(Url.Action("DeleteGroup", "Shopping", new {groupId = Model.GroupId, intervalId = Model.IntervalId}))">
                    <i class="icon-remove"></i>
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnDeleteGroup').click(function() {
                $('#divDeleteGroup').modal();
            });
            $('[data-target]').click(function () {
                window.location.href = $(this).data('target');
            });
            $('a[data-val]').click(function () {
                var hyper = $(this).data('val');
                $('#divAddEditContribution > .modal-dialog').load(hyper, function() {
                    $('#divAddEditContribution').modal();
                    $('[data-target]').click(function () {
                        window.location.href = $(this).data('target');
                    });
                });
            });
        });
    </script>
}