@{
    ViewBag.Title = "Shopping Calculator";
    ViewBag.Section = "Applications";
}

@using AS.ToolKit.Web.ViewModels
@model AS.ToolKit.Web.ViewModels.ShoppingIndexViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>@ViewBag.Title</h1>
            <ol class="breadcrumb">
                <li class="active">Shopping Calculator</li>
            </ol>
        </div>
    </div>
    @Html.DisplayFor(m => m.Message)
    @Html.HiddenFor(m => m.UserId)
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default" style="max-height: 400px; overflow: auto">
                <div class="panel-heading">Shopping Intervals</div>
                <div class="list-group">
                    @Html.DisplayFor(m => m.Intervals)
                </div>
            </div>
            <button id="btnAddInterval" type="button" class="btn btn-primary col-md-12">
                <i class="icon-plus"></i>
                Add New Interval
            </button>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Shoppers</div>
                <div class="list-group">
                    @Html.DisplayFor(m => m.People)
                </div>
            </div>
            <button id="btnAddPerson" type="button" class="btn btn-primary col-md-12">
                <i class="icon-plus"></i>
                Add New Person
            </button>
        </div>
    </div>
</div>

<div id="divAddInterval" class="modal fade">
    <div class="modal-dialog">
        @Html.Partial("_AddInterval", new AddShoppingIntervalViewModel
            {
                UserId = Model.UserId,
                Start = Model.DefaultStartDateString,
                End = Model.DefaultEndDateString
            })
    </div>
</div>

<div id="divAddPerson" class="modal fade">
    <div class="modal-dialog">
        @Html.Partial("_AddPerson", new AddShoppingPersonViewModel
            {
                UserId = Model.UserId,
            })
    </div>
</div>

<div id="divEditPerson" class="modal fade">
    <div class="modal-dialog">
        
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnAddInterval').click(function() {
                $('#divAddInterval').modal();
            });
            $('#btnAddPerson').click(function () {
                $('#divAddPerson').modal();
            });
            $('[data-target]').click(function () {
                window.location.href = $(this).data('target');
            });
            $('a[data-val]').click(function () {
                var hyper = $(this).data('val');
                $('#divEditPerson > .modal-dialog').load(hyper, function () {
                    $('#divEditPerson').modal();
                    $('[data-target]').click(function () {
                        window.location.href = $(this).data('target');
                    });
                });
            });
        });
    </script>
}
