@{
    ViewBag.Title = "Shopping Calculator";
    ViewBag.Section = "Applications";
}

@using AS.ToolKit.Web.ViewModels
@model AS.ToolKit.Web.ViewModels.IndexViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>@ViewBag.Title</h1>
            <ol class="breadcrumb">
                <li class="active">Shopping Calculator</li>
            </ol>
        </div>
    </div>
    @Html.DisplayFor(m => m.Message)
    @Html.HiddenFor(m => m.UserId)
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default" style="max-height: 400px; overflow: auto">
                <div class="panel-heading">Shopping Intervals</div>
                <div class="list-group">
                    @Html.DisplayFor(m => m.Periods)
                </div>
            </div>
            <button id="btnAddInterval" type="button" class="btn btn-success col-md-12">
                <i class="icon-plus"></i>
                Add New Interval
            </button>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Overview</div>
                <div class="panel-body">Cha</div>
            </div>
        </div>
    </div>
</div>

<div id="divAddInterval" class="modal fade">
    <div class="modal-dialog">
        @Html.Partial("_AddPeriod", new AddPeriodViewModel
            {
                UserId = Model.UserId,
                Start = Model.DefaultStartDateString,
                End = Model.DefaultEndDateString
            })
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnAddInterval').click(function() {
                $('#divAddInterval').modal();
            });
        });
    </script>
}
