@{
    ViewBag.Title = "Shopping Calculator";
}

@using AS.ToolKit.Web.Models
@model IEnumerable<AS.ToolKit.Web.Models.ShoppingPeriod>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h4 style="margin-left: 5px">Shopping Periods</h4>
            <div class="listview grid-layout">
                @foreach (var period in Model)
                {
                    <div class="listview-item bg-color-blue" data-target="@Url.Action("Period", "Shopping", new {periodId = period.Id})">
                        <div class="listview-item-object icon-calendar-3 pull-left"></div>
                        <div class="listview-item-body">
                            <h4 class="listview-item-heading">@period.End.ToString("MMMM yyyy")</h4>
                            <p class="two-lines">@period.Start.ToString("dd MMMM") - @period.End.ToString("dd MMMM")</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<footer class="win-commandlayout navbar-fixed-bottom win-ui-dark">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 align-center">
                <button id="btnAddPeriod" type="button" class="win-command">
                    <span class="win-commandicon win-commandring icon-plus"></span>
                    <span class="win-label">Add</span>
                </button>
            </div>
        </div>
    </div>
</footer>

<div id="modalAddPeriod" class="modal hide fade">
    @Html.Partial("_AddPeriod", new ShoppingPeriod(ViewBag.DefaultStartDate, ViewBag.DefaultEndDate))
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            //Hook up datepickers
            $('.datepicker').datepicker({ format: 'dd-M-yyyy' });
            
            //Hook up button events
            $('[data-target]').click(function () {
                window.location.href = $(this).data('target');
            });
            $('#btnAddPeriod').click(function() {
                $('#modalAddPeriod').modal();
            });
        });
    </script>
}
