@{
    ViewBag.Title = "Shopping Calculator";
}

@using AS.ToolKit.Web.Models
@model AS.ToolKit.Web.Models.ShoppingPeriod

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4">
            <h4>Period Details</h4>
            <br/>
            @using (Html.BeginForm("Period", "Shopping", FormMethod.Post, new {@class = "form-horizontal"}))
            {
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.UserId)
                <div class="control-group">
                    <label class="control-label">
                        Name
                    </label>
                    <div class="controls">
                        <input type="text" value="@Model.End.ToString("MMMM yyyy")" disabled="disabled" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        Start Date
                    </label>
                    <div class="controls">
                        @Html.EditorFor(m => m.Start)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        End Date
                    </label>
                    <div class="controls">
                        @Html.EditorFor(m => m.End)
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                        <button id="btnRefreshPeriod" type="button" class="btn">
                            Reset
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="span8 metro">
            <h4 style="margin-left: 5px">Shopping Groups in Period</h4>
            @{
                var groupCount = 1;
                foreach (var group in Model.ShoppingGroups)
                {
                    <a class="tile wide text" href="@Url.Action("Group", "Shopping", new {groupId = group.Id})">
                        <div class="text-header">Group @groupCount</div>
                        <div class="text"></div>
                        <div class="text">Cha cha cha</div>
                    </a>
                    groupCount++;
                }
            }
        </div>
    </div>
</div>

<footer class="win-commandlayout navbar-fixed-bottom win-ui-dark">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4 align-center">
                <button id="btnPrintableCopy"  type="button" class="win-command">
                    <span class="win-commandicon win-commandring icon-printer"></span>
                    <span class="win-label">Printable Copy</span>
                </button>
                <button id="btnDeletePeriod"  type="button" class="win-command">
                    <span class="win-commandicon win-commandring icon-trash"></span>
                    <span class="win-label">Delete Period</span>
                </button>
            </div>
            <div class="span8 align-center">
                <hr class="win-command pull-left"/>
                <button id="btnAddGroup" type="button" class="win-command">
                    <span class="win-commandicon win-commandring icon-plus"></span>
                    <span class="win-label">Add Group</span>
                </button>
            </div>
        </div>
    </div>
</footer>

<div id="modalDeletePeriod" class="modal message hide fade">
    <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
         <h3>Delete Period</h3>
      </div>
      <div class="modal-body">
         <p>Are you sure you want to delete the period "@Model.End.ToString("MMMM yyyy")" spanning @Model.Start.ToString("dd-MMM") to @Model.End.ToString("dd-MMM")?</p>
      </div>
      <div class="modal-footer">
          <button id="btnDeletePeriodConfirmed" class="btn btn-primary">Delete</button>
          <button class="btn" data-dismiss="modal">Cancel</button>
      </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            //Hook up datepickers
            $('.datepicker').datepicker({ format: 'dd-M-yyyy' });

            //Hook up button events
            $('#btnAddGroup').click(function () {
                window.location.href = '@Url.Action("AddGroup", "Shopping", new {periodId = Model.Id})';
            });
            $('#btnRefreshPeriod').click(function() {
                window.location.href = '@Url.Action("Period", "Shopping", new {periodId = Model.Id})';
            });
            $('#btnDeletePeriod').click(function () {
                $('#modalDeletePeriod').modal();
            });
            $('#btnDeletePeriodConfirmed').click(function() {
                window.location.href = '@Url.Action("DeletePeriod", "Shopping", new {periodId = Model.Id})';
            });
        });
    </script>
}
