@model AS.ToolKit.Web.ViewModels.PrintableShoppingIntervalViewModel

@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>@Model.Name Interval Summary
                    <small>
                        @Model.Start to @Model.End
                    </small>
                </h1>
            </div>
        </div>
    </div>
    @foreach (var groupSummary in @Model.GroupSummaries)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Group Summary - @groupSummary.Name</h4>
                    </div>
                    <table class="table table-condensed">
                        <tr>
                            <th>Person</th>
                            <th>Contribution</th>
                            <th>Group Average</th>
                            <th>Financial Standing</th>
                        </tr>
                        @foreach (var contrSummary in groupSummary.ContributionSummaries)
                        {
                            <tr>
                                <td>
                                    @contrSummary.ContributorName
                                </td>
                                <td>
                                    @contrSummary.Amount
                                </td>
                                <td>
                                    @groupSummary.AverageContribution
                                </td>
                                <td>
                                    @contrSummary.FinancialStanding
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Totals Summary</h4>
                </div>
                <table class="table table-condensed">
                    <tr>
                        <th>Person</th>
                        <th>Contribution</th>
                        <th>Financial Standing</th>
                    </tr>
                    @foreach (var personSummary in Model.PersonSummaries)
                    {
                        <tr>
                            <td>
                                @personSummary.Name
                            </td>
                            <td>
                                @personSummary.TotalContributionAmount
                            </td>
                            <td>
                                @personSummary.TotalFinancialStanding
                            </td>
                        </tr>
                    }
                </table>  
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Repayment Plan</h4>
                </div>
                <table class="table table-condensed">
                    <tr>
                        <th>Ower</th>
                        <td></td>
                        <th>Owee</th>
                        <th>Amount</th>
                    </tr>
                    @foreach (var repaymentSummaries in Model.RepaymentSummaries)
                    {
                        <tr>
                            <td>
                                @repaymentSummaries.GiverName
                            </td>
                            <td>
                                owes money to
                            </td>
                            <td>
                                @repaymentSummaries.ReceiverName
                            </td>
                            <td>
                                @repaymentSummaries.Amount
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>