<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="/Content/bootstrap/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/Content/css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="/Content/css/site.css"/>
</head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                @Html.ActionLink("AS ToolKit", "Index", "Home", null, new {@class="navbar-brand"})
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Applications
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Shopping Calculator", "Index", "Shopping")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        @RenderBody()
        <script type="text/javascript" src="/Scripts/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $(document).ready(function() {
                $('a:contains("@ViewBag.Section")').closest('li').addClass('active');
            });
        </script>
    </body>
</html>